body {
  margin: 0 auto;
}

.container {
  max-width: 800px;
  border-style: solid;
  margin: 3rem auto;
}

.row {
  display: flex;
}

.col-full {
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}

.justify-center {
  justify-content: center;
}

i {
  padding: 0 0.5rem;
}
